@charset "UTF-8";
/* CSS Document */

body {

}

header {
float:left;
width:24%;
position:relative;
}

h1 {
width:233px;
height:222px;
background-image:url(../img/background/h1-logo.png);	
}

h2 {
margin-top:10px;
}

#content {
float:right;
width:70%;
min-width:650px;
}

footer  {
float:left;
clear:none;
width:23%;
}

