@charset "UTF-8";
@import url("reset.css");

@-webkit-keyframes bounce-vertical {
from {top:0px;}
to {top:-3px;}
}

@-webkit-keyframes glow {
from {-webkit-box-shadow:0 5px 0 rgba(147,69,9,0.85),0 0 0 transparent;}
to {-webkit-box-shadow:0 5px 0 rgba(147,69,9,0.8),0 2px 30px rgba(255,255,255,0.8);}
}

html {
overflow-y:scroll;
}

body {
background:url(../img/background/bg-light.jpg) #ebebeb;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size:15px;
margin:2% 5%;
color:#333;
}

#content {
overflow:hidden;
padding:20px;
background:url(../img/background/bg-blue.jpg) #54acba;
position:relative;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
-moz-box-shadow:0 3px 10px rgba(0,0,0,0.5),inset 0 -5px 0px rgba(255,255,255,0.3);
-webkit-box-shadow:0 3px 10px rgba(0,0,0,0.5),inset 0 -5px 0px rgba(255,255,255,0.3);
box-shadow:0 3px 10px rgba(0,0,0,0.5),inset 0 -5px 0px rgba(255,255,255,0.3);
}

a:link {
color:#f17310;
text-decoration:none;
-moz-transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;	
transition:all .2s ease-in-out;	
}

a:hover,a:focus {
background:rgba(0,0,0,0.05);
color:#333;
border-bottom:1px solid rgba(0,0,0,0.1)	
}

a:visited {
color:#f17310;
}

h1 {
background-repeat:no-repeat;
text-indent:-9999px;
font-size:4px;
outline:0;
margin:0;	
}

h2 {
font-family:'Corben','Arial Black',Arial,sans-serif;
font-size:17px;
color:rgba(0,0,0,0.35);
text-shadow:0 1px 1px rgba(255,255,255,0.99);	
}

/* FORM */
#twitchform fieldset {
position:relative;
padding-bottom:10px;
}


#twitchform ol {
list-style-type:none;
}

#twitchform li {
float:left;	
margin:0 20px 0 0;
padding:5px
position:relative;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}

#twitchform li:last-of-type {
margin:0;
}

#twitchform label {
color:#ebebeb;
text-transform:uppercase;
font-weight:bold;
font-size:13px;
text-shadow:0 -1px 0 rgba(0,0,0,0.2);
font-family:'Corben','Arial Black',Arial,sans-serif;
letter-spacing:1px;
}

#twitchform input[type="text"] {
display:block;
margin-top:5px;
padding:12px 10px;
font-size:22px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:rgba(255,255,255,0.9);
text-shadow:0 -2px 0 rgba(0,0,0,0.99);
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border:none;
outline:none;
background:url(../img/background/bg-dark.jpg) #333;
-moz-box-shadow:inset 0 2px 2px rgba(0,0,0,0.8);
-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.8);
box-shadow:inset 0 2px 2px rgba(0,0,0,0.8);
width:220px;
}

#twitchform input[type="text"]:focus {
text-shadow:0 -2px 0 rgba(0,0,0,0.99),0 0 10px rgba(255,255,255,0.8);
color:rgba(255,255,255,0.95);

}

#twitchform input[type="submit"] {
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
-moz-box-shadow:0 5px 0 rgba(147,69,9,0.85);
-webkit-box-shadow:0 5px 0 rgba(147,69,9,0.85);
box-shadow:0 5px 0 rgba(147,69,9,0.85);
text-align:center;
border:0;
color:rgba(255,255,255,0.85);
font-size:24px;
font-weight:bold;
padding:14px 8px 12px;
font-family:'Corben','Arial Black',Arial,sans-serif;
background:url(../img/background/bg-orange-btn.jpg) 0 50% repeat-x #65bdcb;
text-shadow:0 -2px 0 rgba(147,69,9,0.7);
cursor:pointer;
outline:none;
display:block;
}

.glow-button {
-webkit-animation:glow 1s infinite;
-webkit-animation-direction:alternate;
}

#twitchform input[type="submit"]:hover,
#twitchform input[type="submit"]:focus
{
-moz-box-shadow:0 5px 0 rgba(147,69,9,0.8),0 2px 20px rgba(255,255,255,0.5);
-webkit-box-shadow:0 5px 0 rgba(147,69,9,0.8),0 2px 20px rgba(255,255,255,0.5);
box-shadow:0 5px 0 rgba(147,69,9,0.8),0 2px 20px rgba(255,255,255,0.5);
text-shadow:0 -2px 0 rgba(147,69,9,0.6),0 0 5px rgba(255,255,255,0.3);
}

#twitchform input[type="submit"]:active {
-moz-box-shadow:0 -2px 1px rgba(147,69,9,0.6);
-webkit-box-shadow:0 -2px 1px rgba(147,69,9,0.6);
box-shadow:0 -2px 1px rgba(147,69,9,0.6);
position:relative;
top:4px;
outline:none;
}

#twitchsubmit {
position:absolute;
right:0;
bottom:7px;
}


/* TWEET STATUS */
.tweet_list {
list-style-type:none;
}

.tweet_list li {
background:url(../img/background/bg-light.jpg) #ebebeb;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
box-shadow:0 2px 0px rgba(0,0,0,0.3);
margin:10px 0;
color:rgba(0,0,0,0.9);
font-size:14px;
line-height:1.25;
position:relative;
overflow:hidden;
-moz-transition:-moz-transform .1s linear;
-webkit-transition:-webkit-transform .05s linear;
transition:transform .05s linear;
}

.tweet_list li:last-of-type {
margin-bottom:0;
}

.tweet_list li:hover {
-moz-transform:scale(1.02);
-webkit-transform:scale(1.02); 
/*-o-transform:scale(1.02); excluding Opera til it stops looking like cr@p */
transform:scale(1.02);
}

.tweet_avatar {
display:block;
float:left;
background:rgba(0,0,0,0.1);
padding:5px;
margin:5px 15px 5px 5px;
border-radius:5px;
}

.tweet_avatar:hover {
border:none;
}

.tweet_avatar img {
display:block;
padding:5px;
}

.tweet_time {
position:absolute;
bottom:3px;
right:10px;
text-transform:uppercase;
font-size:10px;
font-family:'Corben','Arial Black',Arial,sans-serif;
padding-left:17px;
background:url(../img/background/icon-clock.png) no-repeat 0 0;
}

.tweet_time a:link {
color:rgba(0,0,0,0.3);
}

.tweet_time a:focus,.tweet_time a:hover {
color:#444;
border:none;
}

.tweet_text {
padding:10px 20px 17px 0;
display:block;
text-shadow:0 1px 0 rgba(255,255,255,0.97);
}

/* PROGRESS BAR */
#progressmessage {
background:url(../img/background/bg-light.jpg) #ebebeb;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
-moz-box-shadow:0 3px 0px rgba(204,204,204,0.8);
-webkit-box-shadow:0 3px 0px rgba(204,204,204,0.8);
box-shadow:0 3px 0px rgba(204,204,204,0.8);
color:rgba(0,0,0,0.9);
font-size:14px;
line-height:1.25;
position:relative;
overflow:hidden;
padding:20px 30px;
text-align:center;
margin-top:10px;
-webkit-animation-name:bounce-vertical;
-webkit-animation-duration:.1s;
-webkit-animation-iteration-count:10;
-webkit-animation-direction:alternate;
}

#progressmessage img {
padding:0 0 10px 0;
}

#progressmessage p {
margin:0;
line-height:1.4;
font-family:'Corben','Arial Black',Arial,sans-serif;
font-size:32px;
color:rgba(0,0,0,0.2);
text-shadow:0 1px 1px rgba(255,255,255,0.99);
}

#searchterm {
font-style:italic;
display:block;
margin-bottom:10px;
}

#progressmessage p .weirdo {
color:#cc721a;
}

#progressmessage p .twittername,#searchterm {
color:#65bdcb;
}

/* FOOTER */
footer {
margin-top:20px;
clear:both;
}

footer p {
font-size:14px;
font-family:'Palatino Linotype','Book Antiqua',Palatino,serif;
line-height:1.5;
text-shadow:0 1px 0 #fff;
color:rgba(0,0,0,0.4);
}

#clickcounter {
font-family:'Corben','Arial Black',Arial,sans-serif;
text-transform:uppercase;
margin:15px 0 0;
font-size:12px;
font-weight:bold;
text-shadow:0 -1px 0 rgba(0,0,0,0.3);
text-align:center;
color:#eaeaea;
letter-spacing:1px;
}

/* SPECIAL */
.clear-it {
clear:both;	
}

noscript {
color:#f8f8f8;
background:url(../img/background/bg-orange.jpg) #65bdcb;
display:block;
padding:8px 20px 10px 20px;
text-align:center;
font-size:20px;
margin:0 0 20px 0;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
-moz-box-shadow:0 3px 0px rgba(204,204,204,0.8);
-webkit-box-shadow:0 3px 0px rgba(204,204,204,0.8);
box-shadow:0 3px 0px rgba(204,204,204,0.8);
text-shadow:0 -1px 0 rgba(147,69,9,0.7);
line-height:1.25;
}